.rounded-xl {
  border-radius: 0.75rem;
}

.has-image-background {
  background: url('https://picsum.photos/1280/720');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}